
body{
    margin: 0;
}
h1{
    color:hsl(218, 44%, 22%);
    font-family: 'Outfit';
    width: 50%;
    text-align: center;
}
p{
    margin: 0;
    font-size: 15px;
    font-family: 'Outfit';
}
.qr-container{
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #D5E1EF;
}
.qr-content{
    /*margin: 0 auto;*/
    max-width: 320px;
    max-height: 497px;
    width: 100%;
    height: 100%;
    padding: 1px 0;
    border-radius: 20px;
    background-color: white;
}
.qr-image{
    padding-top: 16px;
    border-radius: 20px;
    background: #2C7DFA;
    padding: 64px;
    margin: 16px;
    position: relative;
}
.qr-image img{
    position: relative;
    z-index: 1;
}
.qr-image:before,.qr-image:after{
    background-image: url('img/oval-top.svg');
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    position: absolute;
    height: 50%;
    top: 0;
    left: 0;
    width: 64%;
    border-radius: 20px 0 0 0;
}
.qr-image:after{
    background-image: url('img/oval-bottom.svg');
    height: 42%;
    left: 20.2%;
    top: 169px;
    width: 80%;
    border-radius: 0 0 20px;
}
.qr-info{
    max-width: 288px;
    max-height: 129px;
    width: 100%;
    height: 100%;
    padding: 8px 16px 40px;
}
.qr-title{
    font-weight: bolder;
    font-size: 22px;
    color:hsl(218, 44%, 22%);
    text-align: center;
}
.qr-subtitle{
    text-align: center;
    color:  hsl(220, 15%, 55%);
    padding: 16px 16px 0;
}